{% extends 'base.html.twig' %}

{% block title %}Détails de l'Événement
{% endblock %}

{% block body %}

	<p>Date:
		{{ evenement.annee ? evenement.annee|date('Y') }}</p>
	<p>Description:
		{{ evenement.description }}</p>

	<a href="{{ path('app_evenements_index') }}">Retour à la liste des événements</a>
{% endblock %}
