{% block body %}
	<p>Si vous avez besoin de quelques informations concernant l'association ou le VIH :</p>
	<ul class="list-disc px-2">
		<li class="hover:text-[#9F2627]"><a href="{{ asset('assets/infos/Formation_RD_2024_VIH.pdf') }}" target="_blank">Formation VIH</a></li>
		<li class="hover:text-[#9F2627]"><a href="{{ asset('assets/infos/Formation_recruteurs_de_donateurs_2024.pdf') }}" target="_blank">Formation objet social</a></li>
	</ul>
{% endblock %}
