{% block body %}
	<div id="updates">
		<ul class="list-disc px-2">
			<li class="hover:text-[#9F2627]"><a href="https://docs.google.com/spreadsheets/d/13H_-iJR06EJII47sXDbL2zzd_x31TECPUCDqIroK37c/edit?gid=0#gid=0" target="_blank">Propositions de jeux</a></li>
			<li class="hover:text-[#9F2627]"><a href="https://docs.google.com/spreadsheets/d/13H_-iJR06EJII47sXDbL2zzd_x31TECPUCDqIroK37c/edit?gid=580365766#gid=580365766" target="_blank">Vos plannings</a></li>
			<li class="hover:text-[#9F2627]"><a href="https://docs.google.com/spreadsheets/d/13H_-iJR06EJII47sXDbL2zzd_x31TECPUCDqIroK37c/edit?gid=1906320716#gid=1906320716" target="_blank">Checklist des choses à faire</a></li>
			<!-- Ajoutez d'autres mises à jour ici -->
		</ul>
	</div>
{% endblock %}
