<div class="sticky-button">
    <div class="animated-button">
        <span class="button-label">Montant de la cagnotte</span>
        <div class="cagnotte-info">
            <iframe 
                src="https://streamlabs.com/widgets/streamlabs-charity-donation-goal?token=64911C998E0224C20257" 
                frameborder="0" 
                scrolling="no"
                class="cagnotte-iframe"
                width="200"
                height="80"
                allowtransparency="true">
            </iframe>
        </div>
    </div>
</div>

