{% block body %}
<header data-controller="active-link" class="w-dvw absolute top-0 left-1/2 -translate-x-1/2 z-[1000] py-4 bg-white bg-opacity-50"><div class="max-w-[120rem] text-black px-6 md:px-8 lg:px-10">
    <nav class="w-full flex flex-row items-center font-sans">
        <a class="text-black" href="/">
            <img class="h-12" src="{{ asset('assets/medias/headers/logo.png') }}" />
        </a>
        <div class="flex-1 relative hidden md:flex items-center justify-center">
            <ul class="mx-auto inline-flex gap-6 text-base font-bold">
                <li>
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('streamers') }}">Streamer</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('evenements') }}">Evenement</a>
                </li>
                <li>
                    <a class="nav-link" href="https://www.coalitionplus.org/" target="_blank">Coalition PLUS</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('newsletter') }}">Newsletter</a>
                </li>
            </ul>
            <ul class="absolute right-0">
                <li class="relative">
                    <button class="btnSfl inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                <span class="flex items-center justify-center text-lg px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                    Contact
                </span>
            </button>
                </li>
            </ul>
        </div>
    </nav>
</div>
</header>
{% endblock %}