<div class="gradientBg h-96">
    <h2>
        Envie d'en savoir plus sur les actions ?
    </h2>
    <p>
        Dans une newsletter trimestrielle, vous en apprendrez plus sur Coalition PLUS, son réseau et les actions menées depuis plus de 15 ans.
    </p>
    <button>
        Je m’inscris à la Newsletter
    </button>
</div>