{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <div class="min-h-screen flex flex-col items-center justify-center gradientBg">
        <div class="flex flex-col bg-white shadow-md px-6 py-8 rounded-3xl w-full max-w-xs sm:max-w-md">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="text-red-500 text-sm mb-4">{{ flash_error }}</div>
            {% endfor %}
            
            <div class="text-xl sm:text-2xl font-medium text-gray-800 mb-4 text-center">
                Réinitialiser votre mot de passe
            </div>

            {{ form_start(requestForm) }}
            <div class="flex flex-col mb-5">
                <label for="inputEmail" class="mb-1 text-xs tracking-wide text-gray-600">E-Mail :</label>
                <div class="relative">
                    <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
                        <i class="fas fa-at text-blue-500"></i>
                    </div>
                    {{ form_widget(requestForm.email, {'attr': {'class': 'text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400', 'id': 'inputEmail', 'placeholder': 'Votre e-mail'}}) }}
                </div>
            </div>

            <div class="text-sm text-gray-600 mb-5 text-center">
                <small>Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</small>
            </div>

            <div class="flex w-full">
                <button type="submit" class="flex mt-2 items-center justify-center focus:outline-none text-white text-sm btnSfl rounded-2xl py-2 w-full transition duration-150 ease-in">
                    <span class="mr-2 uppercase">Envoyer l'e-mail</span>
                    <span>
                        <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" stroke="currentColor">
                            <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                    </span>
                </button>
            </div>
            {{ form_end(requestForm) }}

        </div>
    </div>
{% endblock %}
