{% block body %}
	<h2>Ressources et Liens Utiles</h2>
	<ul>
		<li>
			<a href="https://www.example1.com">Exemple de ressource 1</a>
		</li>
		<li>
			<a href="https://www.example2.com">Exemple de ressource 2</a>
		</li>
		<li>
			<a href="https://www.example3.com">Exemple de ressource 3</a>
		</li>
		<!-- Ajoutez d'autres liens utiles ici -->
	</ul>
{% endblock %}
