{% block body %}
	<h2>Mises à Jour et Annonces</h2>
	<div id="updates">
		<ul>
			<li>Annonce 1 : Détails de l'annonce 1.</li>
			<li>Annonce 2 : Détails de l'annonce 2.</li>
			<li>Annonce 3 : Détails de l'annonce 3.</li>
			<!-- Ajoutez d'autres mises à jour ici -->
		</ul>
	</div>
{% endblock %}
