{% extends 'base.html.twig' %}

{% block title %}New Abonnes{% endblock %}

{% block body %}
    <h1>Create new Abonnes</h1>

    {{ include('abonnes/_form.html.twig') }}

    <a href="{{ path('app_abonnes_index') }}">back to list</a>
{% endblock %}
