{% extends 'admin_base.html.twig' %}

{% block title %}Modifier la Présentation{% endblock %}

{% block body %}
    <h1>Modifier la Présentation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_presentations_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
