<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adresse e-mail vérifiée</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <div>
        <h1>Félicitations !</h1>
        <p>Votre adresse e-mail a été vérifiée avec succès.</p>
        <p style="margin-top: 30px;">
            <img src="https://streamforlove.coalitionplus.org/assets/medias/headers/logo.png" alt="Logo" style="width: 150px;">
        </p>
    </div>
</body>
</html>
