{% extends 'base.html.twig' %}

{% block title %}New Outsiders{% endblock %}

{% block body %}
    <h1>Create new Outsiders</h1>

    {{ include('outsiders/_form.html.twig') }}

    <a href="{{ path('app_outsiders_index') }}">back to list</a>
{% endblock %}
