{# templates/admin/socials_network/edit.html.twig #}
{% extends 'admin_base.html.twig' %}

{% block body %}
    <h1>Modifier le réseau social</h1>
{% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
