@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}
.gradientBg {
    background: rgb(255,186,133);
    background: linear-gradient(90deg, rgba(255,186,133,1) 0%, rgba(251,191,22,1) 100%);
}

.card1 {
    background-color: #F9F9F9;
}

.card2 {
    background-color: #FFF8F6;
}

.btnSfl {
    background: rgb(159,38,39);
    background: linear-gradient(135deg, rgba(159,38,39,1) 0%, rgba(213,105,106,1) 100%);
    border-radius:linear-gradient(135deg, rgba(159,38,39,1) 0%, rgba(213,105,106,1) 100%) 2px;
}