@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar {
    transform: translateX(-100%); /* Cache la sidebar par défaut */
    transition: transform 0.3s ease; /* Transition douce */
}

/* Quand on veut afficher la sidebar en mode mobile */
#sidebar.translate-x-0 {
    transform: translateX(0); /* Affiche la sidebar */
}

/* Sidebar visible en desktop */
@media (min-width: 768px) {
    #sidebar {
        transform: translateX(0); /* Sidebar toujours visible */
    }
}

.sidebar.-translate-x-full {
    transform: translateX(-100%); /* Cache la sidebar */
}