{% extends 'user_base.html.twig' %}

{% block title %}Edit Presentations{% endblock %}

{% block body %}
<div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
    <div class="container mx-auto px-4 py-8">
        <h1>Edit Presentation</h1>
{{ form_start(form) }}
        
        {{ include('dashboard/presentations/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('streamer_presentations_index') }}">back to list</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
