{% extends 'user_base.html.twig' %}

{% block title %}New Presentations{% endblock %}

{% block body %}
<div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
    <h1>Create new Presentations</h1>

    {{ include('presentations/_form.html.twig') }}

    <a href="{{ path('streamer_presentations_index') }}">back to list</a>
</div>
{% endblock %}
