{% block body %}
	<h2>Feed Instagram</h2>
	<div id="instagram-feed">
		{% if instagramPosts %}
			<ul>
				{% for post in instagramPosts %}
					<li>
						<a href="{{ post.link }}" target="_blank">
							<img src="{{ post.image_url }}" alt="Instagram Post">
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Aucun post disponible.</p>
		{% endif %}
	</div>
{% endblock %}
