{% extends 'admin_base.html.twig' %}

{% block title %}Edit Evenements{% endblock %}

{% block body %}
    <h1>Edit Evenements</h1>

    {{ include('admin/evenements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_evenements_index') }}">back to list</a>

    {{ include('admin/evenements/_delete_form.html.twig') }}
{% endblock %}
