{% extends 'admin_base.html.twig' %}

{% block title %}New Evenements{% endblock %}

{% block body %}
    <h1>Create new Evenements</h1>

    {{ include('admin/evenements/_form.html.twig') }}

    <a href="{{ path('admin_evenements_index') }}">back to list</a>
{% endblock %}
