{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="error-page">
        <h1>404 - Page non trouvée</h1>
        <p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
