{% extends 'base.html.twig' %}

{% block title %}Edit SocialsNetwork{% endblock %}

{% block body %}
    <h1>Edit SocialsNetwork</h1>

    {{ include('socials_network/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_socials_network_index') }}">back to list</a>

    {{ include('socials_network/_delete_form.html.twig') }}
{% endblock %}
